.lesson_block_thumbnail {
    background-image: url("images/texture_bg.png");
    border: medium none;
    cursor: pointer;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-top: 0 !important;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
}
.margin_top_bottom_0{
	margin-top: 0px;
	margin-bottom: 0px;
}
.hidden{
    visibility: hidden;
}
.edit_options{
    padding-left: 49px;
}
.red{
    color: red;
}

.yellow{
    color: yellow;
}
